/*import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Luckiest+Guy&display=swap');

/*remove all defaults browser settings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1, h2, h3 {
    font-family: Luckiest Guy, sans-serif;
    letter-spacing: 1px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: Josefin Sans, sans-serif;
}

header {
    background-color: aqua;
}
main {
    background-color: green;
}
footer{
    background-color: chocolate;
}

