/*import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Luckiest+Guy&display=swap');

/*remove all defaults browser settings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1, h2, h3 {
    font-family: Luckiest Guy, sans-serif;
    letter-spacing: 1px;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: rgb(230, 204, 204);
    font-family: Josefin Sans, sans-serif;
}
/*header section*/
header {
    background-color: rgb(40, 51, 51);
    padding: 5px;
}
header a {
    text-decoration: none;
    color: inherit;
}
#navigation {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px
}
.active {
    text-decoration: underline;
}

/*main section*/
main {
    flex: 1 0 auto;
    flex-direction: column;
}

/*home page */
#sushi-plate {
    height: 600px;
    width: 100%;
    background: url(../images/sushi-plate.jpg) no-repeat center center/cover;
}


/*subscribe page*/

#sushi-bar {
    height: 100vh;
    width: 100%;
    background: url(../images/sushi-bar.jpg) no-repeat center center/cover;

}
#form-subscribe {
    background-color: rgba(56, 56, 56, 0.8);
    min-height: 200px;
    padding: 3em;  
    bottom: 10em; 
    position: absolute;
}
#fullname {
    padding: 1em;
}
#fullname input {
    background: transparent;
}

#checkbox {
    padding: 1em;
}

.submit-button {
    padding: 3px;
    border-radius: 10%;
    font-family: inherit;
    background-color: rgba(56, 56, 56, 0.8);
    font-size: larger;
    color: antiquewhite;
    padding: 10px;
}


/*footer section*/ 
footer{
    background-color: chocolate;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*larger screen adjustment*/
@media screen and (min-width:768px) {
    
    
}
@media screen and (min-width:992px) {
    .submit-button:hover {
        background: azure;
        color: black;
    }    
}